.about-animation {
  animation-name: about-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes about-animation {
  0% {
    top: -1.75rem;
    left: -1.75rem;
  }
  50% {
    top: -1rem;
    left: -1rem;
  }
  0% {
    top: -1.75rem;
    left: -1.75rem;
  }
}
