@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: #6b59f57a;
  color: #010313;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 3.5vw;
  }
}
